@model ConsoleApplication.Models.Entities.Student        
        
        
        <div class="form-group">          
                <label asp-for="FirstName" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                <input class="form-control "  asp-for="FirstName">
            </div>
        </div>
        
          <div class="form-group">       
                <label asp-for="LastName" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                <input class="form-control " asp-for="LastName" >
            </div>
        </div>

        <div class="form-group">       
                <label asp-for="EnrollmenDate" class="col-md-2 control-label"></label>
                <div class="col-md-4">
                <input class="form-control " asp-for="EnrollmenDate" >
            </div>
        </div>

        <div class="form-group">       
                <label asp-for="Age " class="col-md-2 control-label"></label>
                <div class="col-md-4">
                <input class="form-control " asp-for="Age">
            </div>
        </div>